{% load thumbnail %}


{% for image in images %}
  <div class="image">
    <a href="{{ image.get_absolute_url }}">
      {% thumbnail image.image 300x300 crop="smart" as im %}
      <a href="{{ image.get_absolute_url }}"> <img src="{{ im.url }}"></a>
    </a>
{% comment %} >>> from images.models import Image
>>> Image.objects.all()
then try image.get_absolute_url and im.url compare it with user.profile.photo url 
>>> image           
<Image: Amazon.com : science toolkit>
>>> image.get_absolute_url()
'/images/detail/1/amazoncom-science-toolkit/'
>>> image.image.url
'/media/images/2021/12/16/amazoncom-science-toolkit.jpg'

>>> Profile.objects.get(id=2).photo 
<ImageFieldFile: https://placeimg.com/206/301/any>
>>> img.image           
<ImageFieldFile: images/2021/12/16/amazoncom-science-toolkit.jpg>

{% endcomment %}


    <div class="info">
      <a href="{{ image.get_absolute_url }}" class="title">{{ image.title }}</a>
    </div>
  </div>
{% endfor %}
  
